doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Apollo
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body(ng-app='dailyjobsapp')
.container
  .header.clearfix
    nav
      //ul.nav.nav-pills.pull-right
      //  li.active(role='presentation')
      //    a(href='#') Home
      //  li(role='presentation')
      //    a(href='#') About
      //  li(role='presentation')
      //    a(href='#') Contact
    h3.text-muted Daily.Jobs
    .row
      .col-sm-12.col-md-offset-2
        .text-center
        form(name="input")
        input(type="text", name="search", placeholder="Job Title or Keyword")
        select
          option Job Type
          option Full Time
          option Contract
          option Part Time
          option Internship
          option Temporary
        select
          option Salary
          option 30k
          option 40k
          option 50k
          option 60k
          option 70k
          option 80k
          option 90k
          option 100k
        input(type="text", name="location", placeholder="Location (City, State, Zip)" class="location-bar")
        select
          option miles
          option 5
          option 10
          option 15
          option 25
          option 50
          option 100
        input(type="submit", value="Submit" class="btn btn-default search-btn")
        //| <i class="fa fa-refresh fa-spin"></i>
    .row
      .col-sm-6
        .ul
          .li {{job.title}}
            .ul
              .li icons go here
          .li Title 2
            .ul
              .li icons go here
          .li Title 3
            .ul
              .li icons go here
      .col-sm-6
        .ul
          .li Title 4
            .ul
              .li icons go here
          .li Title 5
            .ul
              .li icons go here
          .li Title 6
            .ul
              .li icons go here



  footer.footer
    p &copy; Daily.Jobs 2015
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
    script(src=isProd ? '/vendor/jquery/dist/jquery.min.js' : '/vendor/jquery/dist/jquery.js')
    script(src=isProd ? '/vendor/bootstrap/dist/js/bootstrap.min.js' : '/vendor/bootstrap/dist/js/bootstrap.js')
    script(src=isProd ? '/vendor/angular/angular.min.js' : '/vendor/angular/angular.js')
    script(src=isProd ? '/vendor/angular-route/angular-route.min.js' : '/vendor/angular-route/angular-route.js')
    script(src=isProd ? '/assets/scripts/app.min.js' : '/assets/scripts/app.js')
    script(src=isProd ? '/assets/scripts/controllers/main.min.js' : '/assets/scripts/controllers/main.js')
